@font-face {
  font-family: 'Roboto';
  src: url('../../resources/fonts/Roboto/Roboto-Thin.ttf') format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../resources/fonts/Roboto/Roboto-ThinItalic.ttf') format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../resources/fonts/Roboto/Roboto-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../resources/fonts/Roboto/Roboto-LightItalic.ttf') format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../resources/fonts/Roboto/Roboto-Medium.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../resources/fonts/Roboto/Roboto-MediumItalic.ttf') format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../resources/fonts/Roboto/Roboto-Regular.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../resources/fonts/Roboto/Roboto-Italic.ttf') format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../resources/fonts/Roboto/Roboto-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../resources/fonts/Roboto/Roboto-BoldItalic.ttf') format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../resources/fonts/Roboto/Roboto-Black.ttf') format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../resources/fonts/Roboto/Roboto-BlackItalic.ttf') format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('../../resources/fonts/Roboto/RobotoCondensed-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('../../resources/fonts/Roboto/RobotoCondensed-LightItalic.ttf') format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('../../resources/fonts/Roboto/RobotoCondensed-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('../../resources/fonts/Roboto/RobotoCondensed-Italic.ttf') format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('../../resources/fonts/Roboto/RobotoCondensed-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('../../resources/fonts/Roboto/RobotoCondensed-BoldItalic.ttf') format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Tezos-icons';
  src: url('../../resources/fonts/TezosIcons/Tezos-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../../resources/fonts/futura/Futura-Medium-bt.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
  line-height: 1.618;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}