#filtergroup {
    float: left;
    width: 20%;
    font-size: x-small;
}

#data {
    float: right;
    font-size: xx-small;
    overflow-x: scroll;
    width: 80%;
}

textarea.filter {
    width: 80%;
    height: 3em;
}

input.filter {
    width: 80%;
}